name: "cachix"
on:
  pull_request:
  push:
  # workflow_run:
  #   workflows: ["Hourly script runner"]
  #   types:
  #     - completed
jobs:
  push-to-chachix:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v14
      with:
        name: burpsuite
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Build flake
      run: nix --extra-experimental-features 'nix-command flakes' build
      run: nix --extra-experimental-features 'nix-command flakes' build .\#burpsuite-community
