name: auto-Release
permissions:
  contents: write

on:
  push:
    tags:
      - "[0-9]*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - name: Checkout
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: VERSION=${{ github.ref_name }} ./releasenotes.sh
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: release.md
