name: Hourly script runner

# grant the token write access so it can push
permissions:
  contents: write

on:
  schedule:
    - cron: '0 * * * *'

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Configure git
        run: |
          # git config user.name "github-actions[bot]"
          # git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "Yechiel Worenklein"
          git config user.email "41305372+yechielw@users.noreply.github.com"

      - name: Run script
        run: |
          bash ./update.sh

      - name: Commit & push if changed
        run: |
          git add -A
          if ! git diff --cached --quiet; then
            DIFF=$(git diff --cached --no-ext-diff -U0 | tail -1 | cut -d \" -f4)
            git commit -m "Automated update to version $DIFF"
              git tag "$DIFF"
              # git push origin master
              # git push origin "$DIFF"
          fi
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PUSHPAT }}
          tags: true
